@font-face {
  font-family: 'Antic';
  src: url('/assets/fonts/Antic-Regular.woff') format('woff');
  src: url('/assets/fonts/Antic-Regular.woff2') format('woff');
}

body {
  background-color: rgb(90, 53, 53);
  color: whitesmoke;
  font-family: 'Antic';
}

img.home-image {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  margin-top: 20px;
}

a.navbar-brand {
  font-size: xx-large;
  color: whitesmoke;
}

label {
  font-size: large;
}

a.nav-link {
  color: whitesmoke;
}

button {
  background-color: rgb(71, 49, 49);
  color: whitesmoke;
}

button.button {
  margin-top: 10px;
  border-radius: 4px;
  padding: 6px 15px;
  margin-bottom: 30px;
}

img.profile-image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.success-message {
  color: rgb(54, 228, 54);
}

.error-message {
  color: red;
}

.hidden-tasks {
  display: none;
}

.hidden-form {
  display: none;
}

table {
  width: 100%;
}

.table-text {
  font-size: x-large;
}

button .task-button {
  display: flex;
  margin-left: 50vh;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column-title {
  font-size: smaller;
}

.column-info {
  font-size: small;
}

.show-tasks {
  display: flex;
}

.show-form {
  display: flex;
}

.list-container {
  background-color: rgb(150, 101, 101);
  margin-bottom: 30px;
}

.deadline-container {
  height: 500px;
  width: auto;
}

.button-container {
  flex-direction: row;
  margin-right: 8px;
  display: flex;
  gap: 8px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-text {
  padding: 8px;
}

@media screen and (min-width: 996px) {
  .column-title {
    font-size: larger;
  }

  .column-info {
    font-size: medium;
  }
}

@media screen and (min-width: 450px) {
  a.nav-link {
    font-size: 22px;
    margin-right: 25px;
    margin-left: 25px;
  }

  .success-message {
    font-size: large;
  }

  .error-message {
    font-size: large;
  }
  .search {
    width: 250px;
  }
}
